@charset "UTF-8";

/*
Projet: Starter HTML
Author: Laurent SUTTERLITY - laurent@sutterlity.fr
Version: 3.1
Date: January 2015
*/

@import "bourbon/bourbon";

// Uncoment ligne 14 for activate debug tools
//@import "base/_debug.scss";

/*------------------------------------*\
    == BASE
\*------------------------------------*/

@import "base/_base.scss";

/*------------------------------------*\
    == MODULES
\*------------------------------------*/

@import "neat/_neat.scss"; //grid semantico


/*------------------------------------*\
    == LAYOUT
\*------------------------------------*/

// @import "layout/_header";
// @import "layout/_main";
// @import "layout/_footer";

/*------------------------------------*\
    == HELPERS
\*------------------------------------*/

// @import "helper/_spacing";
// @import "helper/_text";
// @import "helper/_radius";
// @import "helper/_show-hide";

/*------------------------------------*\
    == MEDIA QUERIES
\*------------------------------------*/

// @import "_print";