@charset "UTF-8";

/*
Projet: Starter HTML
Author: David Bastos - davtechh@gmail.com
Version: 1.0
Date: June 2015
*/

// bourbon
@import "bourbon/bourbon";
@import "neat/neat";

/*------------------------------------*\
    == BASE
\*------------------------------------*/

@import "base/base";

/*------------------------------------*\
    == MODULES
\*------------------------------------*/

 //grid @import "neat/neat";

/*------------------------------------*\
    == LAYOUT
\*------------------------------------*/

@import "layout/_header";
@import "layout/_main";
@import "layout/_footer";

/*------------------------------------*\
    == HELPERS
\*------------------------------------*/

// @import "helper/_spacing";
// @import "helper/_text";
// @import "helper/_radius";
// @import "helper/_show-hide";

/*------------------------------------*\
    == MEDIA QUERIES
\*------------------------------------*/

@import "_print";